 /* CSSは自由に書いて！ */

body {
  background: #215f25;
}

.wrapper {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.item {
  padding: 15px;
  width: 300px;
  color: white;
  border-radius: 20px;
  box-shadow: inset 5px 5px 9px #1c511f, inset -5px -5px 9px #266d2b;
}
